<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardReply">

<!--IT 댓글 조회 -->
<select id="it_commentsList" parameterType="int" resultType="kr.co.boardReply.dto.ItBoardReply_Dto">
	select
		*
	from IT_Comments
		where postNo = #{postNo}		
</select>

<!--IT 댓글 작성 -->
<insert id="it_commentWrite" parameterType="kr.co.boardReply.dto.ItBoardReply_Dto">
	insert into IT_Comments(postNo, customerNickname, comments, postDate, customerNo)
		value(#{postNo}, #{customerNickname}, #{comments}, #{postDate}, #{customerNo})
</insert>
	
<!--IT 댓글 수정 -->
<update id="it_commentUpdate" parameterType="kr.co.boardReply.dto.ItBoardReply_Dto">
	update IT_Comments set
		comments = #{comments},
		postDate = #{postDate}
	where commentsNo = #{commentsNo}
		and postNo = #{postNo}	
</update>

<!--IT 댓글 삭제 -->
<delete id="it_commentDelete" parameterType="hashMap">
	delete from IT_Comments
	where commentsNo = #{commentsNo}
		and postNo = ${postNo}	
</delete>

<!-- IT 하나의 글에 대한 답글 수  조회-->
<select id="it_comments_count" parameterType="int" resultType="int">

Select count(*) from IT_Comments where postNo = #{postNo}

</select>

<!-- ============================================================= -->

<!--Language 댓글 조회 -->
	<select id="language_commentsList" parameterType="int" resultType="kr.co.boardReply.dto.LanguageBoardReply_Dto">
		select
			*
		from Language_Comments
			where postNo = #{postNo}		
	</select>

	<!--Language 댓글 작성 -->
	<insert id="language_commentWrite" parameterType="kr.co.boardReply.dto.LanguageBoardReply_Dto">
		insert into Language_Comments(postNo, customerNickname, comments, postDate, customerNo)
			value(#{postNo}, #{customerNickname}, #{comments}, #{postDate}, #{customerNo})
	</insert>
		
	<!--Language 댓글 수정 -->
	<update id="language_commentUpdate" parameterType="kr.co.boardReply.dto.LanguageBoardReply_Dto">
		update Language_Comments set
			comments = #{comments},
			postDate = #{postDate}
		where commentsNo = #{commentsNo}
			and postNo = #{postNo}	
	</update>

	<!--Language 댓글 삭제 -->
	<delete id="language_commentDelete" parameterType="hashMap">
		delete from Language_Comments
		where commentsNo = #{commentsNo}
			and postNo = ${postNo}	
	</delete>

	<!-- Language 하나의 글에 대한 답글 수  조회-->
	<select id="language_comments_count" parameterType="int" resultType="int">

	Select count(*) from Language_Comments where postNo = #{postNo}

	</select>

<!-- ============================================================= -->

<!--PublicServant 댓글 조회 -->
	<select id="publicServant_commentsList" parameterType="int" resultType="kr.co.boardReply.dto.PublicServantBoardReply_Dto">
		select
			*
		from PublicServant_Comments
			where postNo = #{postNo}		
	</select>

	<!--PublicServant 댓글 작성 -->
	<insert id="publicServant_commentWrite" parameterType="kr.co.boardReply.dto.PublicServantBoardReply_Dto">
		insert into PublicServant_Comments(postNo, customerNickname, comments, postDate, customerNo)
			value(#{postNo}, #{customerNickname}, #{comments}, #{postDate}, #{customerNo})
	</insert>
		
	<!--PublicServant 댓글 수정 -->
	<update id="publicServant_commentUpdate" parameterType="kr.co.boardReply.dto.PublicServantBoardReply_Dto">
		update PublicServant_Comments set
			comments = #{comments},
			postDate = #{postDate}
		where commentsNo = #{commentsNo}
			and postNo = #{postNo}	
	</update>

	<!--PublicServant 댓글 삭제 -->
	<delete id="publicServant_commentDelete" parameterType="hashMap">
		delete from PublicServant_Comments
		where commentsNo = #{commentsNo}
			and postNo = ${postNo}	
	</delete>

	<!-- PublicServant 하나의 글에 대한 답글 수  조회-->
	<select id="publicServant_comments_count" parameterType="int" resultType="int">

	Select count(*) from PublicServant_Comments where postNo = #{postNo}

	</select>

<!-- ============================================================= -->

<!--Certificate 댓글 조회 -->
	<select id="certificate_commentsList" parameterType="int" resultType="kr.co.boardReply.dto.CertificateBoardReply_Dto">
		select
			*
		from Certificate_Comments
			where postNo = #{postNo}		
	</select>

	<!--Certificate 댓글 작성 -->
	<insert id="certificate_commentWrite" parameterType="kr.co.boardReply.dto.CertificateBoardReply_Dto">
		insert into Certificate_Comments(postNo, customerNickname, comments, postDate, customerNo)
			value(#{postNo}, #{customerNickname}, #{comments}, #{postDate}, #{customerNo})
	</insert>
		
	<!--Certificate 댓글 수정 -->
	<update id="certificate_commentUpdate" parameterType="kr.co.boardReply.dto.CertificateBoardReply_Dto">
		update Certificate_Comments set
			comments = #{comments},
			postDate = #{postDate}
		where commentsNo = #{commentsNo}
			and postNo = #{postNo}	
	</update>

	<!--Certificate 댓글 삭제 -->
	<delete id="certificate_commentDelete" parameterType="hashMap">
		delete from Certificate_Comments
		where commentsNo = #{commentsNo}
			and postNo = ${postNo}	
	</delete>

	<!-- Certificate 하나의 글에 대한 답글 수  조회-->
	<select id="certificate_comments_count" parameterType="int" resultType="int">

	Select count(*) from Certificate_Comments where postNo = #{postNo}

	</select>
	
<!-- ============================================================= -->

<!--Etc 댓글 조회 -->
	<select id="etc_commentsList" parameterType="int" resultType="kr.co.boardReply.dto.EtcBoardReply_Dto">
		select
			*
		from Etc_Comments
			where postNo = #{postNo}		
	</select>

	<!--Etc 댓글 작성 -->
	<insert id="etc_commentWrite" parameterType="kr.co.boardReply.dto.EtcBoardReply_Dto">
		insert into Etc_Comments(postNo, customerNickname, comments, postDate, customerNo)
			value(#{postNo}, #{customerNickname}, #{comments}, #{postDate}, #{customerNo})
	</insert>
		
	<!--Etc 댓글 수정 -->
	<update id="etc_commentUpdate" parameterType="kr.co.boardReply.dto.EtcBoardReply_Dto">
		update Etc_Comments set
			comments = #{comments},
			postDate = #{postDate}
		where commentsNo = #{commentsNo}
			and postNo = #{postNo}	
	</update>

	<!--Etc 댓글 삭제 -->
	<delete id="etc_commentDelete" parameterType="hashMap">
		delete from Etc_Comments
		where commentsNo = #{commentsNo}
			and postNo = ${postNo}	
	</delete>

	<!-- Etc 하나의 글에 대한 답글 수  조회-->
	<select id="etc_comments_count" parameterType="int" resultType="int">

	Select count(*) from Etc_Comments where postNo = #{postNo}

	</select>	


</mapper>